.inactive
{
	display: none;
}

.active
{
	display : visible;
}

#form
{
	margin-bottom:30px;
}

.panel-default > .panel-heading-custom-neg 
{
	background: #d9534f; 
	color: #fff; 
}
.panel-default > .panel-heading-custom-pos 
{
	background: #5cb85c; 
	color: #fff; 
}