#searchBar {
	width: 33%;
	margin-right : 0;
	margin-left : 7px;
	margin-top : 4px;
	margin-bottom : 4px;
}

#appFrame {
	width:auto; height:auto; float: left;
	background:#fff;
	border:2px solid #607d8b;
	border-radius:4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom:24px;
	min-width:1000px;
	margin-left:100px;
}

#appTitle {
	margin-top: 0;
	margin-bottom: 3px;
	background :#607d8b;
	color: #fff;
	padding : 8px 8px 0 8px;
}

#articleList {
	width: auto;
	display:inline-block;
	margin: 0 auto;
}

#articleDetails {
	width: 33%;
	display:inline-block;
	margin-left: 0;
	padding: 0.8em 0.7em 0 0.7em;
	vertical-align: top;
}
.score{
	position:relative;
	float:right;
}

.selected {
	background-color: #CFD8DC !important;
	color: white;
}
.articles {
	margin: 0 0 2em 0;
	list-style-type: none;
	padding: 0;
	padding-right: 2em;
	width: 100%;
}
.articles li {
	cursor: pointer;
	position: relative;
	left: 0;
	background-color: #EEE;
	margin: .5em;
	padding: .3em 0;
	height: 1.6em;
	border-radius: 4px;
}
.articles li.selected:hover {
	background-color: #BBD8DC !important;
	color: white;
}
.articles li:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: #607D8B;
	background-color: #DDD;
	left: .1em;
}
.articles .text {
	position: relative;
	top: -3px;
}
.articles .badge {
	display: inline-block;
	font-size: small;
	color: white;
	padding: 0.8em 0.7em 0 0.7em;
	background-color: #607D8B;
	line-height: 1em;
	position: relative;
	left: -1px;
	top: -4px;
	height: 1.8em;
	margin-right: .8em;
	border-radius: 4px 0 0 4px;
}

input {
	box-shadow: 0 4x 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input:focus,
input:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=text], select {
	height: 3em;
	color: #888;
	font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 12px 20px;
    padding-left: 30px;
    margin: 8px 0;
	margin-right: 0;
    display: inline-block;
    border: 1px solid #ccc;
    /*border-radius: 4px;*/
    box-sizing: border-box;
    background-image: url('ressources/search-icon.jpg');
    background-position: left; 
    background-repeat: no-repeat;
}

input[type=submit] {
	margin-left: 0;
	height: 2.5em;
	font-size: 1em;
	padding-left: .4em;
	padding-top: 0;
	color: #369;
	font-family: Arial, Helvetica, sans-serif;
    background-color: #607d8b;
    color: white;
    border: none;
	/*border-radius: 4px;*/
    cursor: pointer;
}

input[type=submit]:hover {
	opacity: 0.8;
}


.inactive
{
	display: none;
}

.active
{
	display : visible;
}