<div id="appFrame">
	<h1 id="appTitle" class="text-center">{{title}}</h1>
	<div class="row" id="form">
		<form >
			<div class="col-md-8 col-md-push-2">
			    <div class="input-group">
			      <input type="text" class="form-control" placeholder="Entreprise..." [(ngModel)]="searchEntry" [ngModelOptions]="{standalone: true}">
			      <span class="input-group-btn">
			        <button class="btn btn-primary" type="submit" (click)="search()" id="bRechercher">Rechercher</button>
			      </span>
				</div>
			</div> 
		</form>
	</div>
	
	<div [ngClass]="loaderStatus" class="text-center">
		  <div class="progress center-block" style="width:50%;"> <!-- set to certain width -->
		    <div class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar" style="width: 100%;">
		      <span>
		        Chargement...
		      </span>
		    </div>
		  </div>
		</div>
	<div>
	
	<fieldset>
    <legend>Articles trouvés</legend>
	<div class="panel-group" id="accordion">
		<div class="panel panel-default" *ngFor="let article of articles; let i= index;">
		    <div *ngIf="article.score >0 " class="panel-heading panel-heading-custom-pos">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{i}}">
		        <span class="badge">{{i}}</span> {{article.title}}</a>
		      </h4>
		    </div>
		     <div *ngIf="article.score <0 " class="panel-heading panel-heading-custom-neg">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{i}}">
		        <span class="badge">{{i}}</span> {{article.title}}</a>
		      </h4>
		    </div>
		     <div *ngIf="article.score ==0 " class="panel-heading">
		      <h4 class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{i}}">
		       <span class="badge">{{i}}</span> {{article.title}}</a>
		      </h4>
		    </div>
		    <div id="collapse{{i}}" class="panel-collapse collapse">
		      <div class="panel-body"> <article-detail [article]="article"></article-detail> </div>
		    </div>
  		</div>
  	</div>
	</fieldset>
		<div id="myCanvasContainer" [ngClass]="tagCanvasStatus">
			<fieldset>
			<legend>Nuages de mots</legend>
			<div class="row">
			<div class="col-md-2"></div>
    		<!-- <fieldset class="scheduler-border-bis">
			<legend class="scheduler-border-bis">Nuages de mots positifs</legend> -->
		      <canvas width="380" height="350" id="canvasNeg" class="col-md-4" >
		        <p>Anything in here will be replaced on browsers that support the canvas element</p>
		      </canvas>
		    <!--  </fieldset> -->
		    <!--  <fieldset class="scheduler-border-bis">
				<legend class="scheduler-border-bis">Nuages de mots</legend> -->
		       <canvas width="380" height="350" id="canvasPos" class="col-md-4">
		        <p>Anything in here will be replaced on browsers that support the canvas element</p>
		      </canvas>
		      <!-- </fieldset> -->
		      <div class="col-md-2"></div>
		    </div>
		    </fieldset>
	    </div>
		<div id="negWords">
			<ul id="negWordsUL">
			</ul>
		</div>
		<div id="posWords">
			<ul id="posWordsUL">
			</ul>
		</div>
	</div>
</div>
