#articleDetails {
	width: 33%;
	display:inline-block;
	margin-left: 0;
	padding: 0.8em 0.7em 0 0.7em;
}
.articleDetailsLink a{
	color: #3465a4;
	/* font-size: 80%; */
}
.articleDetailsTitle{
	
}
/* .articleDetailsDescription{
	font-size: 80%;
} */
p {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding-top: 2px;
}